.result {
  flex-direction: column;
  justify-content: center;
}

.result__div {
  width: 80vw;
  height: 7.5vh;
  margin: 2vh 5vw;
  padding: 2vh 0;
  box-shadow: 2px 2px 1px 1px rgba(85, 5, 124, 0.2);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.result__div:nth-of-type(2) {
  background-color: rgba(118, 73, 245, 0.1);
}

.result__div:nth-of-type(1) {
  transform: scale(0.75);
}
