@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
#root,
.app {
  height: 100%;
}

html {
  min-height: 100%;
  font-family: 'Roboto';
  font-size: 10px;
}

body {
  background-color: #2f2f2f;
}
